In [418]:
import pandas as pd
import json
from pandas.io.json import json_normalize
import numpy as np

#  Read in data and assess

In [380]:
# Read in data
data = pd.read_json('data/world_bank_projects.json')
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
sector                      500 non-null object
supplementprojectflg        498 non-null object
projectfinancialtype        500 non-null object
prodline                    500 non-null object
mjtheme                     491 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
project_name                500 non-null object
mjthemecode                 500 non-null object
closingdate                 370 non-null object
totalcommamt                500 non-null int64
id                          500 non-null object
mjsector_namecode           500 non-null object
docty                       446 non-null object
sector1                     500 non-null object
lendinginstr                495 non-null object
countrycode                 500 non-null object
sector2                     380 non-null object
totalamt                    500 non-null int64
mjtheme_namecode            500 non-null object
boardapprovaldate           500 non-null object
countryshortname            500 non-null object
sector4                     174 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
regionname                  500 non-null object
status                      500 non-null object
country_namecode            500 non-null object
envassesmentcategorycode    430 non-null object
project_abstract            362 non-null object
approvalfy                  500 non-null int64
projectdocs                 446 non-null object
lendprojectcost             500 non-null int64
lendinginstrtype            495 non-null object
theme1                      500 non-null object
grantamt                    500 non-null int64
themecode                   491 non-null object
borrower                    485 non-null object
sectorcode                  500 non-null object
sector3                     265 non-null object
majorsector_percent         500 non-null object
board_approval_month        500 non-null object
theme_namecode              491 non-null object
countryname                 500 non-null object
url                         500 non-null object
source                      500 non-null object
projectstatusdisplay        500 non-null object
ibrdcommamt                 500 non-null int64
sector_namecode             500 non-null object
_id                         500 non-null object
dtypes: int64(7), object(43)
memory usage: 195.4+ KB

# Problem 1 - Value Count of Countries

In [ ]:
# Problem 1 
df = data.countryname.value_counts().head(10)
df = pd.DataFrame(df, index=None)
df.rename(columns={'countryname': 'Count'}, inplace=True)
df.index.name='Country Name'
df = df.reset_index()
df.head(10)
df2 = data.countrycode.value_counts().head(10)
df2.plot(kind='bar', title = 'Countries with Most Projects')

# Problem 2 - Value Count of Projects. Done two ways.

In [404]:
# Problem 2 

# Basic Method
data2 = json.load((open('data/world_bank_projects.json')))
data3 = json_normalize(data2, 'mjtheme_namecode')
data3.head()
data3.code.value_counts().head(10)

11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
Name: code, dtype: int64

In [401]:
# Slightly fancier Method including project type names
json_normalize(data2, 'mjtheme_namecode')['name'].value_counts().head(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

# Problem 3 - Fill in missing names

In [433]:
# Problem 3 
json_data = json.load((open('data/world_bank_projects.json')))

# Normalize the data using mjtheme_namecode
project_data = json_normalize(json_data, 'mjtheme_namecode')

# Replaces all blank entries with NaN.
project_data['name'].replace('',np.nan, inplace=True)

# Sort values by 'code'
project_data_sorted = project_data.sort_values('code')

# Using fillna() to replace NaN values, then forward fill
project_data_sorted['name'].fillna(method='ffill', inplace=True)

# New dataframe with top ten 
project_data_sorted.groupby('code').name.value_counts().sort_values(ascending=False).head(10)

code  name
11    Environment and natural resources management    250
10    Rural development                               216
8     Human development                               210
2     Public sector governance                        199
6     Social protection and risk management           168
4     Financial and private sector development        146
7     Social dev/gender/inclusion                     130
5     Trade and integration                            77
9     Urban development                                50
1     Economic management                              38
Name: name, dtype: int64